<div class="page_header">
	<nt3block blockclass="MenuBlock" type="popup" encoding="text/oql" label="Actions">SELECT $class$ WHERE id = $id$</nt3block>
	<h1>$class$: <span class="hilite">$name$</span></h1>
	<nt3block blockclass="HistoryBlock" type="toggle" encoding="text/oql">SELECT CMDBChangeOp WHERE objkey = $id$ AND objclass = '$class$'</nt3block>
</div>
<img src="../../images/clean.png" style="margin-top:-20px; margin-right:10px; float:right">
<nt3block blockclass="DisplayBlock" asynchronous="false" type="bare_details" encoding="text/oql">SELECT $class$ WHERE id = $id$</nt3block>
<nt3tabs>
	<nt3tab name="Rules">
		<nt3block blockclass="DisplayBlock" type="list" encoding="text/oql">SELECT AuditRule WHERE category_id = $id$</nt3block>
	</nt3tab>
</nt3tabs>
